<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
                <binding name="WebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64761/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="ServiceReference123.WebServiceSoap"
                name="WebServiceSoap" />
            <endpoint address="http://localhost:64761/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap1" contract="NewServiceReference.WebServiceSoap"
                name="WebServiceSoap1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <DataLayer.Properties.Settings>
            <setting name="DataLayer_WebReff_WebService" serializeAs="String">
                <value>http://localhost:64761/WebService.asmx</value>
            </setting>
        </DataLayer.Properties.Settings>
    </applicationSettings>
</configuration>